body { 
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  font:18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.mainMenuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 20px; /* Adjust the column gap as needed */
    -moz-column-gap: 20px; /* For Firefox */
    -webkit-column-gap: 20px; /* For Chrome, Safari, and Opera */
}

li {
    margin-bottom: 5px;
}

li a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}


/* Reset default list styles */
.navbar nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

/* Style navbar links */
.navbar nav ul li {
    display: inline;
}

/* Style navbar links */
.navbar nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 5px; /* Adjust padding for better spacing */
}

/* Add hover effect */
.navbar nav ul li a:hover {
    background-color: #f0f0f0;
}
/* add more vertical space between the navbar and the main content */
.navbar {
    margin-top: 3em;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray {
    color: gray;
}

.extra-bottom-margin {
  margin-bottom: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: calc(100% + 10px); /* Position the tooltip to the right of the paragraph */
  transform: translateY(-50%); /* Center the tooltip vertically */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-arrow {
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #f9f9f9;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

