{% extends "base.html" %}
{% block title %}About the Website{% endblock %}
{% block content %}

<h1>About the Website</h1>
Critical rationalism is a cool philosophy invented by cool people. It started in the mid-20th century with the publication of Karl Popper's <i>Conjectures and Refutations</i> and has a vast range of applications: epistemology, philosophy of science, economics, politics, physics, mathematics, even artificial intelligence. Here are some questions which interest critical rationalists:
<ul>
  <li>What differentiates science from non-science? What characteristics identify good science?</li>
  <li>What is creativity?</li>
  <li>How can our society be reformed in light of these ideas?</li>
  <li>How does evolution -- be it through genes or memes -- affect human societies?</li>
</ul>
The site primarily hosts quotes from Oxford University physicist David Deutsch, who is a prominent critical rationalist. The quotes are organized into a dictionary, which is searchable and can be viewed at random. The dictionary is a work in progress, and I (<a href="https://www.vkethana.com">Vijay Kethana</a>) hope to add more quotes and authors in the future. Besides David Deutsch, here are some other people whose quotes/tweets I plan to add to the dictionary:
<ul>
  <li><a href="https://twitter.com/ToKTeacher">Brett Hall</a></li>
  <li><a href="nav.al">Naval</a></li>
  <li><a href="x.com/dela3499">Carlos de la Guardia</a></li>
  <li><a href="x.com/reasonisfun">Lulie Tanett</a></li>
  <li><a href="x.com/DKedmey">David Kedmey</a></li>
</ul>
{% endblock %}
