{% extends "base.html" %}
{% block title %}The Critical Rationalist Lexicon{% endblock %}
{% block content %}
  <h1>The Critical Rationalist Lexicon</h1>
    What do critical rationalists think about...
    <ul>
        {% for category in sorted_categories %}
        <li>... <a href="/keyword/{{ category|lower|replace(' ', '_') }}">{{ category }}</a>? ({{quote_counter[category]}} quotes)</li>
        {% endfor %}
    </ul>
    Disclaimers: I cannot verify accuracy of every tweet listed. Views represented in the quotes are not necessarily my own. 
{% endblock %}
