{% extends "base.html" %}
{% block title %}The Critical Rationalist Lexicon{% endblock %}
{% block content %}
  <h1>Super Secret Webpage</h1>
  <form id="refreshForm" method="post" class="center">
      <button type="submit" id="refreshButton" class="submitButton">Refresh Database</button>
  </form>

  <form method="POST">
    <label for="dropdown">Select an option:</label>
    <select id="dropdown" name="dropdown">
        <option value="DD" selected>DD</option>
        <option value="David">David</option>
        <option value="Vijay">Vijay</option>
    </select>
    <button type="submit" id="saveDropdown">Save Option</button>
  </form>

  <div id="messageContainer"></div> <!-- Container for displaying messages -->
  <script>
    document.getElementById("refreshForm").addEventListener("submit", function(event) {
        console.log("Successfully grabbed element with id refreshForm");
        event.preventDefault();
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/refresh", true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        console.log("Successfully opened xhr");
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                console.log(response);
                // Display message if data has been updated
                if (response.status === 'success') {
                    showMessage("Data has been updated successfully. Now go back to the home page, and you will find the new quotes and categories. (Note: in order for a category to show up, it has two have at least two quotes associated with it.)");
                } else if (response.status === 'error') {
                    showMessage("An error occurred while updating the data.");
                }
            }
        };
        xhr.send(JSON.stringify({}));
    });

    function showMessage(message) {
        var messageContainer = document.getElementById("messageContainer");
        // Clear previous messages
        messageContainer.innerHTML = "";
        // Create a new message element
        var messageElement = document.createElement("p");
        messageElement.textContent = message;
        // Append the message to the container
        messageContainer.appendChild(messageElement);
    }
  </script>
{% endblock %}
