{% extends "base.html" %}
{% block title %}The Critical Rationalist Lexicon{% endblock %}
{% block content %}
  <h1>Super Secret Webpage</h1>
  <div class="center">
      <form action="/refresh" method="post">
      <label for="dropdown">Use this dropdown to select an alternative quote database:</label>
      <select id="dropdown" name="option">
          <option value="DD" {% if selected_option == 'DD' %}selected{% endif %}>DD</option>
          <option value="David" {% if selected_option == 'David' %}selected{% endif %}>David</option>
          <option value="Vijay" {% if selected_option == 'Vijay' %}selected{% endif %}>Vijay</option>
      </select>
      <br />
      <br />
      <button type="submit" class='submitButton'>Refresh Database</button>
    </form>
  </div>

  <div id="messageContainer">
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
  </div> <!-- Container for displaying messages -->

{% endblock %}
