{% extends "base.html" %}
{% block title %}The Critical Rationalist Lexicon{% endblock %}
{% block content %}
  <h1>Settings</h1>
      <form action="/refresh" method="post">
      <label for="dropdown">Choose a custom database from the dropdown below:</label>
      <select id="dropdown" name="option">
          <option value="primary" {% if selected_option == 'primary' %}selected{% endif %}>Primary</option>
          <option value="david" {% if selected_option == 'david' %}selected{% endif %}>David</option>
          <option value="misc1" {% if selected_option == 'misc1' %}selected{% endif %}>Misc. 1</option>
          <option value="misc2" {% if selected_option == 'misc2' %}selected{% endif %}>Misc. 2</option>
      </select>
      <br />
      <br />
      <div class="center">
          <button type="submit" class='submitButton'>Refresh Database</button>
      </div>
    </form>
  <p>
    When the button is pressed, the app will check to see if any changes have been made on <a href="https://docs.google.com/spreadsheets/d/1xTxusR0Mfy5eE5vbe8wjIAVwvfojvHzCse_J_fUteZc/edit?pli=1#gid=0">this</a> Google Sheet. Changes are reflected immediately.
  </p>

  <div id="messageContainer">
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
  </div> <!-- Container for displaying messages -->

{% endblock %}
